otel-logs-pipeline:
  workers: 1
  delay: 5000
  source:
    otel_logs_source:
      ssl: false
  buffer:
    bounded_blocking:
  sink:
    - opensearch:
        hosts: [ "http://opensearch-node:9200" ]
        insecure: true
        index_type: custom
        index: otel-events-%{yyyy.MM.dd}
        max_retries: 5
        bulk_size: 4
    - stdout: