otel-logs-pipeline:
  workers: 5
  delay: 10
  source:
    otel_logs_source:
      ssl: false
  buffer:
    bounded_blocking:
  sink:
    - opensearch:
        hosts: [ "http://opensearch-node:9200" ]
        insecure: true
        index_type: custom
        index: otel-events-%{yyyy.MM.dd}
        bulk_size: 4