server:
  port: 8000
  servlet:
    context-path: /
spring:
  main:
    banner-mode: off
  application:
    name: app
  modulith:
    detection-strategy: explicitly-annotated
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  defaults:
    metrics:
      export:
        enabled: false
#logging:
#  level:
#    org:
#      springframework:
#        boot:
#          autoconfigure=DEBUG: