networks:
  default:
    driver: bridge
    name: dev
services:
  backend:
    image: project-base/app:${app-version}
    restart: unless-stopped
    environment:
      - "SPRING_PROFILES_ACTIVE=dev"
    ports:
      - "8000:8000"
    depends_on: [loki]
  prometheus:
    image: prom/prometheus:${prometheus-version}
    restart: unless-stopped
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./observability/prometheus:/prometheus
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana:${grafana-version}
    restart: unless-stopped
    environment:
      - "GF_SECURITY_ADMIN_PASSWORD=admin"
    ports:
      - "3000:3000"
    volumes:
      - ./observability/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - ./observability/grafana:/var/lib/grafana
  loki:
    image: grafana/loki:${loki-version}
    restart: unless-stopped
    command: "-config.file=/etc/loki/local-config.yaml"
    ports:
      - "3100:3100"
    volumes:
      - ./observability/loki-config.yaml:/etc/loki/local-config.yaml
      - ./observability/loki/:/loki/
  tempo:
    image: grafana/tempo:${tempo-version}
    command: "-config.file=/etc/tempo.yaml"
    volumes:
      - ./observability/tempo.yml:/etc/tempo.yaml
      - ./observability/tempo/:/tmp/tempo
    ports:
      - "3110:3100"  # Tempo
      - "9411:9411" # zipkin