version: "3.5"

networks:
  default:
    driver: bridge
    name: observability
services:
  otel-collector:
    image: otel/opentelemetry-collector:0.104.0
    container_name: observability-otel
    hostname: otel-collector
    restart: unless-stopped
    volumes:
      - ./observability/otel.yml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889"
    depends_on:
      - data-prepper
      - jaeger-tracing
  jaeger-tracing:
    image: jaegertracing/all-in-one:1.60.0
    container_name: observability-jaeger
    hostname: jaeger
    restart: unless-stopped
    environment:
      - SPAN_STORAGE_TYPE=opensearch
      - ES_SERVER_URLS=http://opensearch-node:9200
    ports:
      - "16686:16686"
      - "4317"
    depends_on:
      opensearch-node:
        condition: service_healthy
  opensearch-node:
    image: opensearchproject/opensearch:2.16.0
    container_name: observability-opensearch
    hostname: opensearch-node
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN='true'
    volumes:
      - ./observability/opensearch:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600" # Performance Analyzer
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://opensearch-node:9200/_cluster/health" ]
      interval: 5s
      timeout: 5s
      retries: 10
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.16.0
    container_name: observability-opensearch-dashboards
    ports:
      - "5601:5601"
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch-node:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: 'true'
#    volumes:
#        - ./observability/dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml
    depends_on:
      opensearch-node:
        condition: service_healthy
  data-prepper:
    image: opensearchproject/data-prepper:2.8.1
    container_name: observability-data-prepper
    hostname: data-prepper
    restart: unless-stopped
    ports:
      - "4900:4900"
      - "21892"
    volumes:
      - ./observability/pipelines:/usr/share/data-prepper/pipelines
#      - ./observability/data-prepper.yaml:/usr/share/data-prepper/data-prepper-config.yaml
  prometheus:
    image: prom/prometheus:v2.45.6
    container_name: observability-prometheus
    hostname: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - otel-collector