extensions:
  health_check:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  debug:
#    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200
  otlp/logs:
    endpoint: "data-prepper:21892"
    tls:
      insecure: true
  otlp/metrics:
    endpoint: "data-prepper:21891"
    tls:
      insecure: true
  prometheus:
    endpoint: "0.0.0.0:8889"
    metric_expiration: 30m
    resource_to_telemetry_conversion:
      enabled: true
  otlp/jaeger:
    endpoint: "jaeger:4317"
    tls:
      insecure: true

service:
  extensions: [health_check]
  pipelines:
    logs:
      receivers: [ otlp ]
      exporters: [ debug, otlp/logs ]
    metrics:
      receivers: [otlp]
      exporters: [debug, prometheus, otlp/metrics]
    traces:
      receivers: [ otlp ]
      exporters: [ debug, otlp/jaeger ]