global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']
#global:
#  scrape_interval: 15s
#scrape_configs:
#  - job_name: 'spring-boot-app'
#    metrics_path: '/actuator/prometheus'
#    static_configs:
#      - targets: ['backend:8000']