networks:
  default:
    driver: bridge
    name: observability
services:
  otel-collector:
    image: otel/opentelemetry-collector:0.104.0
    container_name: otel-collector
    restart: unless-stopped
    volumes:
      - ./observability/otel.yml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"