networks:
  default:
    driver: bridge
    name: data
services:
  postgres:
    image: postgres:${postgres-version}
    container_name: data-postgres
    hostname: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
  rabbitmq:
    image: rabbitmq:${rabbitmq-version}
    container_name: data-rabbitmq
    hostname: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_PASS=rabbitmq
      - RABBITMQ_DEFAULT_USER=rabbitmq
    ports:
      - "5672:5672"
      -  "15672:15672"