networks:
  networking:
    driver: bridge
    name: networking
  app-template-prod:
    external: true
  app-template-dev:
    external: true
services:
  caddy:
    image: caddy:${caddy-version}
    container_name: networking-caddy
    hostname: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data
      - ./caddy/config:/config
    networks:
      - networking
      - app-template-dev
  cloudflared:
    image: cloudflare/cloudflared:${cloudflared-version}
    container_name: networking-cloudflared
    hostname: cloudflared
    restart: unless-stopped
    entrypoint: "cloudflared"
    volumes:
      - ./cloudflared/conf.yml:/etc/cloudflared/conf.yml
      - ./cloudflared/cert.pem:/root/.cloudflared/cert.pem
    networks:
      - networking
      - app-template-prod