networks:
  default:
    driver: bridge
    name: observability
services:
  otel-collector:
    image: otel/opentelemetry-collector:${otel-version}
    container_name: observability-otel
    hostname: otel-collector
    restart: unless-stopped
    volumes:
      - ./observability/otel.yml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
  jaeger-tracing:
    image: jaegertracing/all-in-one:${jaeger-version}
    container_name: observability-jaeger
    hostname: jaeger
    restart: unless-stopped
    environment:
      - SPAN_STORAGE_TYPE=opensearch
      - ES_SERVER_URLS=http://opensearch:9200
    ports:
      - "16686:16686"
      - "4317"
  opensearch-node:
    image: opensearchproject/opensearch:${opensearch-version}
    container_name: opensearch-node
    hostname: opensearch
    restart: unless-stopped
    environment:
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
      - ./observability/opensearch.yml:/usr/share/opensearch/config/opensearch.yml
    ports:
      - "9200:9200"
      - "9600:9600" # required for Performance Analyzer
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:${opensearch-version}
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    volumes:
      - ./observability/dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml


volumes:
  opensearch-data: