version: '3'
networks:
  default:
    driver: bridge
    name: observability
services:
  otel-collector:
    image: otel/opentelemetry-collector:${otel-version}
    container_name: observability-otel
    hostname: otel-collector
    restart: unless-stopped
    volumes:
      - ./observability/otel.yml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
  jaeger-tracing:
    image: jaegertracing/all-in-one:${jaeger-version}
    container_name: observability-jaeger
    hostname: jaeger
    restart: unless-stopped
    environment:
      - SPAN_STORAGE_TYPE=opensearch
      - ES_SERVER_URLS=http://opensearch-node:9200
    ports:
      - "16686:16686"
      - "4317"
    depends_on:
      opensearch-node:
        condition: service_healthy
  opensearch-node:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
    volumes:
      - ./observability/opensearch:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://opensearch-node:9200/_cluster/health" ]
      interval: 3s
      timeout: 5s
      retries: 10

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch-node:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    depends_on:
      opensearch-node:
        condition: service_healthy